@model Material


@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Create";
}

<style>
    #btnn{
        background-color: #198754;
        font-size: 19px;
        font-weight: bold;
        margin-left: 20px;
        border-radius: 14px;
        width: 68px;
        padding: 3px;
    }
    #btnn a{
            text-decoration: none;
            color: white;
    }



</style>

<form method="post" action="/AddMaterial/" enctype="multipart/form-data" style="margin:20px;">

    <div class="form-floating mb-3">

        <input type="file" asp-for="clientFile" class="form-control" onchange="loadfile(event)">
        <label for="clientFile">Course Image</label>
    </div>
    <input type="hidden" name="CoursId" value="@ViewBag.id" />
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="LecuerNumber" id="LecuerNumber" placeholder="LecuerNumber"></input>
        <label for="LecuerNumber">LecuerNumber</label>
    </div>
    <div class="mt-4 mb-0">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>

</form>



<div class="container-fluid px-4">
    <h1 class="mt-4">Material</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            files
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>link</th>
                        <th>LecuerNumber</th>
                        <th>Edit</th>
                        <th>Delete</th>


                    </tr>
                </thead>
                <tfoot>

                <th>Name</th>
                <th>link</th>
                <th>LecuerNumber</th>
                <th>Edit</th>
                <th>Delete</th>

                </tfoot>
                <tbody>
                    @foreach (Material item in ViewBag.list_of_materials)
                    {
                        <tr>
                            <td>@item.FilePath</td>
                            <td><a href="/material/@item.FilePath">Display</a></td>
                            <td>@item.LecuerNumber</td>
                            <td><a href="/material/Edit/@item.Id">Edit</a></td>
                            <td><a href="/Material/Delete/@item.Id">Delete</a> </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<button id="btnn" action="">
    <a href="/admin/AdminViw/"> Save</a>
</button>
@* @section scrit {
    <script>
        var loadfile = function (event) {

            var reader = new FileReader();
            reader.onload = function () {
                var myImge = document.getElementById("clientFile");
                myImge.src = reader.result;
            }
        }
    </script>

}   *@








