
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "createView";
}


    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form method="post" action="/CreateStudent/">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="FullName" id="FullName" type="text" placeholder="Enter your name" />
                                                    <label for="FullName">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" name="Phone" id="Phone" type="text" placeholder="Enter your Phone" />
                                                    <label for="Phone">Phone</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="Email" id="Email" type="email" placeholder="name@example.com" />
                                            <label for="Email">Email address</label>
                                        </div>

                                        <!-- Added fields -->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="JoinDate" id="JoinDate" type="datetime-local" placeholder="Join Date" />
                                            <label for="JoinDate">Join Date</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-control" name="Gender" id="Gender">
                                                <option value="">----- Select Gender -----</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <label for="Gender">Gender</label>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="Password" id="Password" type="password" placeholder="Create a password" />
                                                    <label for="Password">Password</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" name="BirthDay" id="BirthDay" type="date" placeholder="Birth Date" />
                                                    <label for="BirthDay">Birth Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><input class="btn btn-primary btn-block" type="submit" ></input></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/loginView/">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>



